body {
  font-family: $font-stack;
  font-color: $font-color;
}

a {
  font-family: $font-links;
}
h1,
h2,
h3 {
  font-family: $font-heading;
  padding: 1em;
}

p {
  font-family: $font-copy;
}

nav {
  background-color: $fg-color;
  border: 1px solid $font-color;
  text-align: center;
  padding: 10px;
    ul {
      list-style: none;
      li {
        display: inline-block;
        padding-left: 20px;

        a {
          text-decoration: none;
          font-family: $font-links;
        }
        a:hover,
        a:active {
          background-color: $accent-color;
        }
      } // li
    } // ul
} // nav

/* Special */
.container {
  padding: 1em;
}