/* Global CSS */
body {
  @include background('../img/swirl.jpg');
  font-family: $font-stack;
  font-color: $font-color;
  overflow-x: hidden;
}

a {
  font-family: $font-links;
  text-decoration: none;
}

header {
  background-color: $header-color;
  position: absolute;
  text-align: right;
  top: 1em;
  width: 100%;

  h1 {
    color: $header-font-color;
    font-family: $font-heading;
    font-size: 1.75em;
    letter-spacing: 0.15em;
    margin: 0.6em 1em 0.1em;
    text-transform: uppercase;
  }
}

nav {
  background-color: $nav-color;
  border-right: 0.6em solid $border-color;
  border-left: 0.6em solid $border-color;
  display: inline;
  float: left;
  height: 100%;
  margin: 0 0 0 2em;
  position: fixed;
  text-align: center;
  width: 15em;

  h2 {
    font-family: $font-name;
    font-size: 2em;
    margin: 1em 0;
    white-space: nowrap;
  }

  img {
    border: 0.4em solid rgba(223, 197, 113, 0.5);
    margin: 5.5em 0 1em;
    width: 12em;
  }
} // nav


/* Special CSS */
#internal {
  font-size: 0.9em;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  a {
    background-color: rgba(223, 197, 113, 1);
    color: white;
    display: block;
    font-family: $font-stack;
    letter-spacing: 0.05em;
    margin: 1em;
    padding: 0.8em 0;

    @include transition(0.5s ease-in-out);
  }
  a:hover {
    background-color: $content-header-color;
    letter-spacing: 0.1em;
  }
}

#content {
  background-color: $project-section-color;
  border: 0.1em solid $project-border-color;
  display: inline;
  float: left;
  margin-left: 20em;
  margin-top: 5.5em;
  width: 72%;

  h3 {
    background-color: $content-header-color;
    border-bottom: 1em double;
    color: white;
    font-size: 1.3em;
    letter-spacing: 0.3em;
    padding: 1em;
    text-align: center;
    text-transform: lowercase;
  }
}

#examples {
  text-align: center;

  .ex {
    display: inline-block;
    margin: 2em;
  }
  a {
    font-family: $font-stack;
    font-size: 0.9em;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    @include transition(0.5s ease-in-out);
  }
  a:hover {
    letter-spacing: 0.1em;
  }
}

#external {
  background: rgba(223, 197, 113, 1);
  padding: 0.8em 2em;
  position: fixed;
  text-align: center;
  bottom: 3em;
  width: 16em;

  a:link {
    color: $ext-link-color;
  }
  a:hover {
    background-color: $ext-link-hover;
    border-radius: 50%;
    height: 2em;
    width: 2em;
  }
  a:visited {
    color: $ext-link-visited-color;
  }

  li {
    display: inline;
    margin: 0 0.5em;
  }
}

#projects {
  text-align: center;
  margin: 2em auto;

  .proj {
    display: inline-block;
    list-style: none;
    margin: 1em 2em;

    a {
      background-color: $content-header-color;
      color: white;
      display: block;
      font-family: $font-stack;
      font-size: 0.9em;
      letter-spacing: 0.05em;
      padding: 0.8em 0;
      text-transform: uppercase;
      @include transition(0.5s ease-in-out);
    }
    a:hover {
      background-color: $header-color;
      color: white;
      letter-spacing: 0.1em;
    }
    img {
      width: 20em;
    }
  } // proj

} // projects

#sidebar {
  vertical-align: center;
}