body {
  @include background('../img/swirl.jpg');
  font-family: $font-stack;
  font-color: $font-color;
}

a {
  font-family: $font-links;
}

header {
  background-color: $header-color;
  position: absolute;
  text-align: right;
  top: 1em;
  width: 100%;

  h1 {
    color: $header-font-color;
    font-family: $font-heading;
    font-size: 1.75em;
    letter-spacing: 0.15em;
    margin: 0.6em 1em 0.1em;
    text-transform: uppercase;
  }
}

p {
  font-family: $font-copy;
}

nav {
  background-color: $nav-color;
  border-right: 0.6em solid $border-color;
  border-left: 0.6em solid $border-color;
  display: inline;
  float: left;
  height: 100%;
  margin: 0 0 0 2em;
  position: fixed;
  text-align: center;
  width: 15em;

  h2 {
    font-color: white;
  }

  img {
    border: 0.5em solid rgba(239, 239, 239, 1);
    margin: 4em auto;
    width: 11em;
  }
}

#projects {
  text-align: center;

  .proj {
    display: inline-block;
    list-style: none;
    margin: 1em 2em;
    text-align: center;
    a {
      display: block;
      text-decoration: none;
    }
    img {
      width: 20em;
    }
  } // proj

} // projects

/* Special */
#content {
  background-color: white;
  display: inline;
  float: left;
  margin-left: 20em;
  margin-top: 5.5em;
  width: 72%;

  h3 {
    background-color: $project-header-color;
    border-bottom: 0.1em dashed;
    font-size: 1.3em;
    letter-spacing: 0.3em;
    padding: 1em;
    text-align: center;
    text-transform: lowercase;
  }
}