@import url(https://fonts.googleapis.com/css?family=Open+Sans|Droid+Serif|Inconsolata);

$font-stack: tahoma, helvetica, serif;
$font-copy: 'Open Sans', sans-serif;
$font-heading: 'Droid Serif', serif;
$font-links: 'Inconsolata', monospace;

$bg-color: rgba(205, 211, 173,1);
$fg-color: rgba(255, 255, 255, 1);
$accent-color: rgba(206, 235, 232,1);
$font-color: rgba(1,1,1,1);