@import url(https://fonts.googleapis.com/css?family=Open+Sans|Droid+Serif|Inconsolata|Corbel|Rock+Salt);

// Font
$font-heading: 'Corbel', sans-serif;
$font-links: 'Inconsolata', monospace;
$font-name: 'Rock Salt', serif;
$font-project: 'Inconsolata', serif;
$font-stack: 'Open Sans', 'Corbel', sans-serif;

// Color
$border-color: rgba(162, 159, 125, 1);

$header-color: rgba(223, 197, 113, 0.8);
$header-font-color: rgba(140, 129, 77, 0.95);

$ext-link-color: rgba(136, 105, 43, 1);
$ext-link-visited-color: rgba(93, 106, 107, 1);
$ext-link-hover: rgba(255, 255, 255, 1);

$font-color: rgba(1,1,1,1);

$nav-color: rgba(255, 255, 255, 1);

$project-border-color: rgba(105, 141, 145, 1);
$project-section-color: rgba(255, 255, 255, 0.8);
$content-header-color: rgba(102, 164, 171, 1);


